.cs_image {
    width: 80px;
    padding: 5px;
}

.cs_search_input {
    float:left !important;
}

.cs_catalog_table {
    width: 100%;
}

.cs_col {
    text-align: center;
}

.cs_col_year {
    width: 60px;
}

.cs_col_series {
    text-align: left;
}